* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
}

#root * {
    /* outline: 1px solid green; */
}


html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
    background-color: #60a4e4;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

/* NAV BAR */
nav.router__navbar {
    height: max-content;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    background-color: lightgrey;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline: 15px;
    align-items: center;
    width: 95%;
}

.router__logo {
    width: 20%;
}

.nav__roter {
    display: flex;
    flex-direction: column;
    max-height: max-content;
    height: fit-content;
    height: 100vh;
}

ul.navbar__links {
    width: 80%;
    list-style-type: none;
    /* display: contents; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li.links__item {
    border-radius: 2rem;
    padding: 5px 10px;
    margin: 5px 20px;
    font-size: 14pt;
}

/* HOME PAGE */
.home {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin: auto;
    margin-top: 10px;
    gap: 15px;
    max-height: 90%;
    height: 90vh;
    width: 95%;
    background-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;
}

.home__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.home__workspace {
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: fit-content;
    width: 80%;
    padding: 5px 15px;
    outline: 1px solid black;
    border-radius: 5px;
}

/* HOME FILES */
.home__files {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.file__item {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    height: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.file__item:hover {
    background-color: #2196F3;
}

.file__item .item__name {
    height: fit-content;
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 14pt;
}

.file__name {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.file__icon {
    margin: 5px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__inp {
    font-size: 1em;
    min-width: 1px;
    width: 85%;
    max-width: 85%;
    border-radius: 5px;
    padding-inline-start: 5px;
}

.item__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    max-width: 10%;
}

/* input[type="checkbox"] */
.item__checking {
    display: flex;
    margin: 0;
    padding: 0;
}

.item__checking input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.file__item .item__name input {
    border: none;
}

.file__item .item__name input:focus {
    border: none;
}

.file__item .item__name input:disabled {
    background: none;
    color: black;
    border: none;
}

.file__item .item__btns {
    width: 15%;
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* HOME FOLDERS */
.home__folders {
    padding: 5px;
}

.folder__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.folder__item:hover {
    background-color: #2196F3;
}

.folder__back {
    padding: 5px;
    margin-inline: 15px;
}

.folder__back a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.folder__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.folder__name h3 {
    font-size: 16pt;
    font-weight: 100;
}

.folder__icon {
    width: 4%;
    margin: 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.folder__btns {
    margin-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOME PANEL */
.home__panel {
    padding: 10px;
    width: 20%;
    height: fit-content;
    /* height: min-content; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: 1px solid black;
    border-radius: 5px;
}

.home__panel button {
    width: 100%;
    margin: 5px 0;
    font-size: 12pt;
    border-radius: 5px;
    padding: 5px 0px;
    max-height: fit-content;
}


.panel__item {}

.folder_create_form {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.folder_create_form input {
    width: 100%;
    font-size: 12pt;
    text-align: center;
    margin: 5px 0px;
    padding: 2px 0px;
}

.share__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.download__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.share__form .hour_live {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.hour_live label {
    width: 100%;
}

.hour_live label p {
    font-size: 14pt;
    display: inline;
}

.hour_live select {
    font-size: 12pt;
}

.form__result {
    margin: 5px 0;
    font-size: 16px;
}

.folder__back {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.folder__back .back__icon {
    display: inline;
    margin-inline: 5px;
    padding: 0;
}

/* PROFILE */
.user__profile {
    display: flex;
    margin: auto;
    max-height: 90%;
    width: 95%;
}

.profile__workspace * {
    /* outline: 1px solid green; */
}

.profile__workspace {
    /* max-height: max-content; */
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: 0px auto;
    gap: 15px;
    max-height: 90%;
    height: 90vh;
    min-height: max-content;
    border-radius: 5px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
}

.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16pt;
}

.profile__title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile__detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: max-content;
    gap: 15px;
    padding: 15px 5px 3px;
    outline: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.detail__info {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5px;
}

.info__value {
    padding-inline: 5px;
}

.profile__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: fit-content;
    margin: 5px auto;
    border-radius: 5px;
    outline: 1px solid black;
}

.user__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    font-size: 18pt;
}

.user__values {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 5px;
}

.user__values .info__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    width: 100%;
    border-bottom: 1px solid black;
}

.user__values .info__value span {
    width: 30%;
}

.user__values .info__value input[type="text"] {
    font-size: 14pt;
    width: 70%;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: 2px solid black;
}

.user__values .info__value input[type="text"]:focus {
    border-width: 2px;
}


.user__values .info__value input[type="text"]:disabled {
    color: black;
    border: none;
    outline: none;
}

.profile__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.profile__btns button {
    font-size: 14pt;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
}


.change__password {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
}

.change__pass {
    margin-bottom: 200px;
    background: rgba(255, 255, 255, 0.9);
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    gap: 15px;
    border-radius: 10px;
}

.pass__inp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    padding: 5px;
}

.inp__item {
    padding: 5px;
}

.inp__item p {
    font-size: 16pt;
    margin-bottom: 5px;
}

.inp__item input {
    font-size: 16pt;
    padding-inline: 15px;
    width: 100%;
}

.form__btns {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
}

.form__btns button {
    font-size: 14pt;
    border-radius: 5px;
    padding: 5px;
}

/* ADMIN PANEL */
.users__page {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: auto;
    margin-top: 10px;
    gap: 10px;
    max-height: 90%;
    height: 85vh;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.list__search {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.search__title {
    font-size: 18pt;
    width: 40%;
}

.search__inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 55%;
    padding-right: 10px;
}

.search__inp input {
    border-radius: 5px;
    padding: 3px 5px;
}

.user__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 5px 5px;
    margin-bottom: 10px;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    outline: 1px solid black;
    border-radius: 5px;
}

.user__item {
    /* background: rgba(197, 197, 197, 0.3); */
    font-size: 16pt;
    padding: 5px;
    width: 100%;
    border-radius: 2px;
}

.user__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 16pt;
    border-radius: 5px;
}

.item__email {}

.user__approved {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.search__inp input {
    font-size: 14pt;
    width: 100%;
    padding-inline: 15px;
}

.user__switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.user__switch input {
    display: none;
}

.user__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c4c4c4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.user__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.user__slider {
    background-color: #2196F3;
}

input:focus+.user__slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.user__slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(25px);
}

/* UUID FILES */
.files__uuid {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: auto;
    margin-top: 10px;
    gap: 15px;
    max-height: 90%;
    height: 90vh;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.uuid__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    padding-top: 5px;
}

.uuid__workspace {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.uuid__workspace .file__list {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    outline: 1px solid black;
    padding: 10px;
    gap: 10px;
}

.uuid__workspace .file__list .file__item {
    outline: 1px solid black;
}


.notfound__uuid {
    display: flex;
    flex-direction: column;
}

.uuid__workspace {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.uuid__workspace .file__list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 20px;
    gap: 10px;
}

.uuid__workspace .file__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1px;
}

.uuid__workspace .item__name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.uuid__workspace .file__name {
    width: 80%;
}

.uuid__workspace .item__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    width: 20%;
    max-width: 20%;
    gap: 10px;
}

.uuid__workspace .item__info p {
    width: 100%;
}

.files__uuid__btns {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    padding-inline: 35px;
}

.files__uuid__btns button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20pt;
    border-radius: 5px;
    padding: 5px;
}

.login__form {
    width: 450px;
    height: 350px;
    margin: 150px auto;
    padding: 5px 15px;
    background-color: rgba(224, 224, 224, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.login__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__inp {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login__inp .error__msg {
    font-size: 14pt;
    margin: 5px;
    color: rgb(221, 11, 11);
}

.login__inp input {
    font-size: 14pt;
    padding-inline: 5px;
}

.login__btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.login__btns button {
    font-size: 14pt;
    padding: 5px;
    border-radius: 5px;
}

.login__btns p {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__form {
    width: 450px;
    height: 350px;
    margin: 150px auto;
    padding: 5px 15px;
    background-color: rgba(224, 224, 224, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.register__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register__inp {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.register__inp .error__msg {
    font-size: 14pt;
    margin: 5px;
    color: rgb(221, 11, 11);
}

.register__inp input {
    font-size: 14pt;
    padding-inline: 5px;
}

.register__btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.register__btns button {
    font-size: 14pt;
    padding: 5px;
    border-radius: 5px;
}

.register__btns p {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOADER */
.loading__panel {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.loader__body {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 35px 50px;
    background: rgba(233, 233, 233, 0.5);
}

.loading__panel .loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading__msg {
    font-size: 16pt;
}

.delete__modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
}

.modal__body {
    margin-bottom: 200px;
    background: rgba(255, 255, 255, 0.9);
    width: 450px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-evenly;
    gap: 15px;
    border-radius: 10px;
}

.modal__title {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__btns {
    padding: 5px 50px;
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
}

.modal__btns button {
    font-size: 12pt;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
}