* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
}

#root * {
    outline: 1px solid green;
}


html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

nav.router__navbar {
    height: max-content;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: lightgrey;
}

ul.navbar__links {
    margin: auto;
    list-style-type: none;
    display: contents;
}

li.links__item {
    border-radius: 2rem;
    padding: 5px 10px;
    margin: 5px 20px;
}

/* HOME PAGE */
.home {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin: auto;
    margin-top: 10px;
    gap: 15px;
    max-height: 90%;
    height: 90vh;
    width: 95%;
}

.home__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.home__workspace {
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: fit-content;
    width: 80%;
    padding: 5px 15px;
}

/* HOME FILES */
.home__files {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.file__item {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    height: fit-content;
    padding-inline: 5px;
}

.file__item .item__name {
    height: fit-content;
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 14pt;
}

.file__name {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.file__icon {
    margin: 5px;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__inp {
    font-size: 1em;
    min-width: 1px;
    width: 85%;
    max-width: 85%;
}

.item__info {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    max-width: 10%;
}

/* input[type="checkbox"] */
.item__checking {
    display: flex;
    margin: 0;
    padding: 0;
}

.item__checking input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.file__item .item__name input:disabled {
    background-color: white;
    color: black;
    border: none;
}

.file__item .item__btns {
    width: 15%;
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* HOME FOLDERS */
.home__folders {
    padding: 5px;
}

.folder__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.folder__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.folder__name h3 {
    font-size: 16pt;
    font-weight: 100;
}

.folder__icon {
    width: 4%;
    margin: 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.folder__btns {
    margin-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOME PANEL */
.home__panel {
    padding: 10px;
    width: 20%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home__panel button {
    width: 100%;
    margin: 5px 0;
    font-size: 12pt;
    border-radius: 5px;
    padding: 5px 0px;
    max-height: fit-content;
}


.panel__item {}

.folder_create_form {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.folder_create_form input {
    width: 100%;
    font-size: 12pt;
    text-align: center;
    margin: 5px 0px;
    padding: 2px 0px;
}

.share__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.share__form .hour_live {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.hour_live label {
    width: 100%;
}

.hour_live label p {
    font-size: 14pt;
    display: inline;
}

.hour_live select {
    font-size: 12pt;
}

.form__result {
    margin: 5px 0;
    font-size: 16px;
}

/* PROFILE */
.profile__btns {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.user__switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 19px;
}

.user__switch input {
    display: none;
}

.user__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.user__slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.user__slider {
    background-color: #2196F3;
}

input:focus+.user__slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.user__slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}